<br />
<h3>All Products</h3>
<br />
<table class="table" border="1">
  <thead class="table-dark">
    <tr>
      <!--<th>#</th>-->
      <th>Id</th>
      <th>Product Name</th>
      <th>Product Image</th>
      <th>Category Id</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of Products; let i = index">
      <!--<td>{{i+1}}</td>-->
      <td>{{product.id}}</td>
      <td>{{product.name}}</td>
      <td>{{product.avatar}}</td>
      <td>{{product.categoryId}}</td>
    </tr>
  </tbody>
</table>

