<!-- The sidebar -->
<div class="sidebar bg-pink text-white p-4">
  <a routerLink="/Dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="sidebar-link">Dashboard</a>
  <a routerLink="/Dashboard/getCategory" routerLinkActive="active" class="sidebar-link">Get Categories</a>
  <a routerLink="/Dashboard/addCategory" routerLinkActive="active" class="sidebar-link">Add Category</a>
  <a routerLink="/Dashboard/getProduct" routerLinkActive="active" class="sidebar-link">Get Product</a>
  <a routerLink="/Dashboard/addProduct" routerLinkActive="active" class="sidebar-link">Add Product</a>
</div>

<!-- Page content -->
<div class="content p-4">
  <router-outlet></router-outlet>
</div>
