<nav class="navbar navbar-expand-lg" style="background-color: #f8bbd0;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="color: #e91e63; font-weight: bold;">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#" style="color: #e91e63;">Home</a>
        <a class="nav-link" routerLink="/Categories" style="color: #e91e63;">Categories</a>
        <a class="nav-link" href="/Product" style="color: #e91e63;">Product</a>
        <a class="nav-link" href="/SignUp" style="color: #e91e63;">SignUp</a>
        <a class="nav-link" href="/Login" style="color: #e91e63;">Login</a>
      </div>
    </div>
  </div>
</nav>
