

/* Style for Card */
.card {
  border-radius: 15px;
}

/* Text and Button Styling */
.text-white {
  color: #ffffff;
}

.btn-light {
  background-color: #ffffff;
  color: #ff69b4;
  border: 2px solid #ff69b4;
}

  .btn-light:hover {
    background-color: #ff1493;
    color: #ffffff;
  }

/* Form Input */
.form-control {
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid #ff69b4;
  color: #ff69b4;
}

  .form-control:focus {
    border-color: #ff1493;
    box-shadow: 0 0 5px rgba(255, 20, 147, 0.5);
  }
