<section class="vh-100 gradient-custom">
  <div class="container py-3 h-100">
    <div class="row">
      <!-- بطاقة 1 -->
      <div class="col-md-4">
        <div class="card bg-dark text-white mb-4" style="border-radius: 1rem;">
          <div class="card-body">
            <h5 class="card-title">Product 1</h5>
            <p class="card-text">This is a description of product 1.</p>
            <button routerLink="/category"  class="btn btn-outline-light">View Details</button>
          </div>
        </div>
      </div>

      <!-- بطاقة 2 -->
      <div class="col-md-4">
        <div class="card bg-dark text-white mb-4" style="border-radius: 1rem;">
          <div class="card-body">
            <h5 class="card-title">Product 2</h5>
            <p class="card-text">This is a description of product 2.</p>
            <button routerLink="/category"  class="btn btn-outline-light">View Details</button>
          </div>
        </div>
      </div>

      <!-- بطاقة 3 -->
      <div class="col-md-4">
        <div class="card bg-dark text-white mb-4" style="border-radius: 1rem;">
          <div class="card-body">
            <h5 class="card-title">Product 3</h5>
            <p class="card-text">This is a description of product 3.</p>
            <button routerLink="/category"  class="btn btn-outline-light">View Details</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
